img,
svg {
  max-width: 100%;
  display: block;
}

.robotsCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.botCard {
  background: #d9d9d9;
  width: 15.2rem;
  border-radius: 0.3rem;
  border: 1px solid #6c757d;
  cursor: pointer;
}

.botAvatar {
  background: #e5e5e5;
  width: 15rem;
  height: 14rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.botAvatar img {
  width: 12rem;
}

.botBody {
  padding: 0.8rem;
}

.botCatchPhrase {
  word-wrap: break-word;
}

.stats {
  list-style: none;
  display: flex;
  gap: 1rem;
}
li.stat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.discharge,
p {
  padding-bottom: 0.8rem;
}

.discharge {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-discharge {
  border: none;
  padding: 0.4rem;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.btn-discharge:hover {
  background: #ef233c;
  transform: scale(1.2);
}
